{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
<link href="{% static 'blog.css' %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My Blog</h2>
        <p>I have written total {% total_posts %} in my blog</p>
        <h3>Latest posts</h3>
        <p>{% show_latest_posts 3 %}</p>
        <h3>Most Commented post</h3>
        {% get_most_commented_post as most_commented_post %}
        <ul>
            {% for post in most_commented_post %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    <a href="{% url 'blog:post_feed' %}">Subscribe to my RSS</a>
    </div>
</body>
</html>